---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Blog";
---

<BaseLayout title={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>These are perfectly cromulent words.</p>
</BaseLayout>
