:root {
    --site-padding: 1rem;
    --color-bg: white;
    --color-text: black;
    --color-text-secondary: gray;
    --line-height: 1.5;
    --font-size: 18px;
    --font-body: "Inter", -apple-system, sans-serif;
    --font-heading: "Inter", -apple-system, sans-serif;
}

html {
    scrollbar-gutter: stable;
}

body {
    line-height: var(--line-height);
    font-size: var(--font-size);
    font-family: var(--font-body);
    color: var(--color-text);
    background-color: var(--color-bg);
}

h1, h2, h3, h4, h5, h6 { font-family: var(--font-heading); }

/* Grid system */
.site-grid {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
        "navbar main-content"
        "footer footer";
    gap: 1rem;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Header and navigational elements */
.site-navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 2rem;
    margin: 2rem 0;
    padding: var(--site-padding);
    font-size: smaller;
    background-color: var(--color-bg);
}
.site-header {
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 1rem;
}
.profile-pic {
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.profile-headline {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.flush-list {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}
.flush-list li {
    padding-left: 0.5em;
    margin-left: -0.5em;
    margin-bottom: 0.5em;
}
.site-link {
    border-left: 2px solid transparent;
}
.site-link > a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-text);
}
.site-link:hover { border-color: var(--color-text-secondary); }
.site-link:has(> a.active) { border-color: var(--color-text); }

/* Main content */
.site-main-content {
    grid-area: main-content;
    overflow-x: hidden;
    margin: 2rem 0;
    padding: var(--site-padding);
    background-color: var(--color-bg);
}
.site-main-content * { max-width: 70ch; }
.site-main-content *:first-child { margin-top: 0; }

/* Footer and social links*/
.site-footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: var(--site-padding);
    margin: 0 auto;
    font-size: smaller;
    color: var(--color-text-secondary);
    background-color: var(--color-bg);
}
.site-footer a {
    text-decoration: none;
    color: inherit;
}
.site-footer a:hover { text-decoration: underline; }

.social-links {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-left: 0;
    margin: 0;
    list-style: none;
}
.social-links > li:not(:last-child)::after {
    margin-left: 0.5rem;
    content: "\00B7";
}

/* Project grid and cards */
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.card {
    display: block;
    border: 1px solid var(--color-text);
    font-size: medium; 
}
.card:hover {
    box-shadow: 0 4px 8px var(--color-text);
}
.card-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
    border-bottom: 1px solid var(--color-text-secondary);
}
.card-header > * { margin: 0; }
.card-hit {
    text-decoration: none;
    color: var(--color-text);
}
.card-body {
    padding: 1rem;
}
.card-links {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}
.card-links li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: small;
    color: var(--color-text);
}
.card-links li > a:hover {
    text-decoration: underline;
}
.card-links > li:not(:last-child)::after {
    content: "\00B7";
}

/* Project info */
.project-info {
    margin-bottom: 2rem;
    font-size: smaller;
    text-transform: uppercase;
}
.info-description { 
    text-transform: none;
    font-size: large;
}
.info-label { font-weight: 600; }

/* Table of contents */
.toc {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: sticky;
    top: 2rem;
}
.toc strong {
    font-weight: 600;
}
.toc a {
    text-decoration: none;
    color: var(--color-text);
}
.toc a:hover {
    font-weight: 600;
}
.toc-list {
    padding-left: 0;
    margin-left: 0;
    margin: 0;
    list-style-type: none;    
}
.toc-list li { margin-bottom: 0.5rem; }
.toc-level-2 { margin-left: 0; }
.toc-level-3 { margin-left: 1rem; }

@media (max-width: 768px) {
    :root { --site-padding: 1.5rem; }
    body { font-size: 16px; }
    .site-grid {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "navbar"
            "main-content"
            "footer";
        gap: 0.25rem;
    }
    .site-navbar {
        position: relative;
        margin: 0;
    }
    .site-main-content { margin: 0; }
    .project-grid { grid-template-columns: 1fr; }
}
