---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout title={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>A noble spirit embiggens the smallest man.</p>
</BaseLayout>
