---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <section id="all-posts">
        <p>Here is the <a href="https://xkcd.com/148/">blag of my wobsite</a>.</p>
    </section>
</BaseLayout>
