---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content"
const allPosts = await getCollection("blog");
allPosts.sort((a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout pageTitle="Blog">
    <h1>Blog</h1>
    <section>
    {allPosts.length === 0 ? (
        <p>There's nothing here yet...</p>
    ) : (
        <ul>
            {allPosts.map((post) => (
                <li>
                    <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
                    <span> &ndash; {post.data.date.toISOString().slice(0, 10)}</span>
                </li>
            ))}
        </ul>
    )}
    </section>
</BaseLayout>
