---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Contact">
    <h1>Contact</h1>
    <section>
        <p>If you have any questions or just want to get in touch:</p>
        <details>
            <summary>Feel free to email me</summary>
            <code>ero151 at g dot harvard dot edu</code>
        </details>
        <details>
            <summary>Or connect with me on LinkedIn</summary>
            <a href="https://www.linkedin.com/in/eordo/">https://www.linkedin.com/in/eordo/</a>
        </details>
        <p>If you'd like to work on something together, send it my way.</p>
    </section>
</BaseLayout>
