---
import BaseLayout from "@layouts/BaseLayout.astro"
const pageTitle = "Ahoy-hoy!"
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<section id="about-me">
		<p>
			My name's Eric.
			I'm an economist and data scientist.
		</p>
		<p>
			My technical interests, broadly speaking, are in econometrics and computational modeling.
			I primarily use Python and am currently learning Julia.
		</p>
		<p>
			Besides programming, I enjoy cooking and learning new languages.
			I can speak Spanish, French, Indonesian, and Tagalog.
		</p>
		<p>
			You can see some of my work on <a href="https://github.com/eordo">GitHub</a>.
		</p>
	</section>
</BaseLayout>
