---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "Ahoy-hoy!";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<section id="intro">
		<p>
			My name is Eric Ordoñez, and welcome to my website.
		</p>
	</section>
</BaseLayout>
