---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "Links";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <p>
        Here are some things I've found online that I think are useful, interesting, or meaningful.
    </p>
    <ul>
        <li><a href="https://distill.pub/2017/research-debt/">"Research Debt"</a> by Chris Olah and Shan Carter, 2017</li>
        <li><a href="https://tex.stackexchange.com/questions/1319/showcase-of-beautiful-typography-done-in-tex-friends">"Showcase of beautiful typography done in TeX & friends" </a> on StackExchange</li>
        <li><a href="https://idlewords.com/talks/website_obesity.htm">"The Website Obesity Crisis"</a> by Maciej Cegłowski, 2015</li>
        <li><a href="https://expectful.com/articles/balancing-becoming-mom-career-dreams">"What I Learned About Balancing Motherhood and Career"</a> by Lia Aprile, 2024</li>
        <li><a href="https://mathoverflow.net/questions/43690/whats-a-mathematician-to-do">"What's a mathematician to do?"</a> on MathOverflow</li>
    </ul>
</BaseLayout>
