---
const currentDate = new Date();
---

<footer class="site-footer">
    <span>&copy; EO {currentDate.getFullYear()} under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span>
    <span><a href="https://github.com/eordo/eordonez">Source</a></span>
</footer>
