---
import Logo from "@/components/Logo.astro";

const siteLinks = [
    { href: "/blog", label: "Blog" },
    { href: "/work", label: "Work" },
    { href: "/about", label: "About" }
];
---

<header class="site-header">
    <div class="site-header-inner content-width">
        <a href="/" class="site-title">
            <Logo />
        </a>
        <nav class="site-nav">
            {siteLinks.map((siteLink) => (
                <a href={siteLink.href}>{siteLink.label}</a>
            ))}
        </nav>
    </div>
</header>

<style>
    .site-header {
        grid-area: header;
    }

    .site-header-inner {
        padding: var(--space-4) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-title {
        color: var(--color-text);
        transition: color 120ms ease;
    }

    .site-title:hover {
        color: var(--color-accent);
    }

    .site-title :global(svg) {
        display: block;
        height: var(--space-8);
        width: auto;
    }

    .site-nav {
        display: flex;
        gap: var(--space-8);
        font-family: var(--font-mono);
        font-size: var(--step-0);
    }

    .site-nav a {
        color: var(--color-muted);
        text-decoration: none;
        transition: color 120ms ease;
        font-weight: 500;
    }

    .site-nav a:hover {
        color: var(--color-accent);
    }
</style>
