---
const currentYear = new Date().getFullYear();
const license = { name: "CC BY 4.0", url: "https://creativecommons.org/licenses/by/4.0/" };
---

<footer class="site-footer">
    <div class="site-footer-inner">
        <div class="site-credits">
            <span>&copy; {currentYear} Eric Ordoñez</span>
            <span>Content licensed under <a href={license.url}>{license.name}</a></spab>
        </div>
        <span>Aut inveniam viam aut faciam.</span>
    </div>
</footer>

<style>
    .site-footer {
        grid-area: footer;
        border-top: 1px solid var(--color-border);
    }

    .site-footer-inner {
        padding: var(--space-4) 0;
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
        font-family: var(--font-sans);        
        font-size: var(--step--1);
        color: var(--color-muted);
    }

    .site-credits {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-2);
    }

    .site-credits > * + *::before {
        content: "·";
        margin-right: var(--space-2);
    }

    @media (max-width: 30rem) {
        .site-credits {
            flex-direction: column;
        }

        .site-credits > * + *::before {
            content: "";
            margin-right: 0;
        }
    }
</style>
