---
const currentYear = new Date().getFullYear();
const siteCredits = [
    {
        label: "License",
        url: "https://creativecommons.org/licenses/by/4.0/",
        text: "CC BY 4.0"
    },
    {
        label: "Colophon",
        url: "/colophon",
        text: "Colophon"
    },
    {
        label: "GitHub repository",
        url: "https://github.com/eordo/eordonez",
        text: "Source"
    },
];
---

<footer class="site-footer">
    <div class="site-footer-content">
        <span>&copy; {currentYear} Eric Ordoñez</span>
        <ul class="site-credits">
            {siteCredits.map((siteCredit) => (
                <li>
                    <a href={siteCredit.url} aria-label={siteCredit.label}>
                        {siteCredit.text}
                    </a>
                </li>
            ))}
        </ul>
        <span title="Terror Lake salutes Hannibal crossing the Alps!">
            Aut inveniam viam aut faciam.
        </span>
    </div>
</footer>

<style>
    .site-footer {
        width: 100vw;
        border-top: 2px solid var(--color-border);
    }

    .site-footer-content {
        display: flex;
        flex-direction: column;
        width: min(var(--max-layout-width), 100vw);
        margin-inline: auto;
        padding: var(--space-6);
        gap: var(--space-2);
        font-size: var(--step--1);
        color: var(--color-muted);
    }

    .site-credits {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .site-credits li {
        display: inline;
    }
    
    .site-credits li:first-child {
        padding-right: var(--space-2);
    }

    .site-credits li:not(:first-child) {
        padding: 0 var(--space-2);
    }
</style>
