---
import Logo from "@/components/Logo.astro";

const siteLinks = [
    { href: "/blog", label: "Blog" },
    { href: "/work", label: "Work" },
    { href: "/about", label: "About" }
];
---

<header class="site-header">
    <nav class="site-navbar">
        <a href="/" aria-label="Home" class="site-logo">
            <Logo />
        </a>
        <ul class="site-links">
            {siteLinks.map((siteLink) => (
                <li>
                    <a href={siteLink.href} aria-label={siteLink.label}>
                        {siteLink.label}
                    </a>
                </li>
            ))}
        </ul>
    </nav>
</header>

<style>
    .site-header {
        width: 100vw;
    }

    .site-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: min(var(--max-layout-width), 100vw);
        padding: var(--space-6);
        margin-inline: auto;
    }

    .site-logo {
        color: var(--color-text);
        transition: color 120ms ease;
    }

    .site-logo:hover {
        color: var(--color-accent);
    }

    .site-logo :global(svg) {
        display: block;
        width: auto;
        height: var(--space-8);
    }

    .site-links {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .site-links li + li {
        margin-top: 0;
    }

    .site-links li + li::before {
        content: "/";
        margin: 0 var(--space-3);
    }

    .site-links a {
        color: var(--color-muted);
        text-decoration: none;
        text-transform: uppercase;
        transition: color 120ms ease;
        font-weight: 500;
        font-size: var(--step-0);
        font-family: var(--font-mono);
    }

    .site-links a:hover {
        color: var(--color-accent);
    }

    @media (max-width: 30rem) {
        .site-navbar {
            flex-direction: column;
            gap: var(--space-6);
        }
    }
</style>
