---
const currentYear = new Date().getFullYear();
const license = { name: "CC BY 4.0", url: "https://creativecommons.org/licenses/by/4.0/" };
---

<footer class="site-footer">
    <div class="site-footer-inner layout-width">
        <span>&copy; {currentYear} Eric Ordoñez</span>
        <span>Content licensed under <a href={license.url}>{license.name}</a></spab>
    </div>
</footer>

<style>
    .site-footer {
        background-color: var(--color-bg);
    }

    .site-footer-inner {
        padding: var(--space-sm) 0;
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-xs);
        font-family: var(--font-sans);        
        font-size: var(--step--1);
        color: var(--color-muted);
    }

    .site-footer-inner > * + *::before {
        content: "·";
        margin-right: var(--space-xs);
    }

    @media (max-width: 640px) {
        .site-footer-inner {
            flex-direction: column;
        }

        .site-footer-inner > * + *::before {
            content: "";
            margin-right: 0;
        }
    }
</style>
