---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Work";
---

<BaseLayout title={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>People can come up with statistics to prove anything. Forty percent of all people know that.</p>
</BaseLayout>
