---
import "@/styles/global.css";

import SiteHeader from "@/components/SiteHeader.astro";
import SiteFooter from "@/components/SiteFooter.astro";
import SiteSidebar from "@/components/SiteSidebar.astro";

const { title = "" } = Astro.props;
const hasSidebar = Astro.slots.has("sidebar");
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:wght@100..800&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
        <title>{title ? `${title} | Eric Ordoñez` : "Eric Ordoñez"}</title>
    </head>
    <body>
        <div class:list={["container", hasSidebar && "has-sidebar"]}>
            <SiteHeader />
            {(hasSidebar &&
                <SiteSidebar>
                    <slot name="sidebar" />
                </SiteSidebar>
            )}
            <main>
                <article class="content">
                    <slot />
                </article>
            </main >
            <SiteFooter />
        </div>
    </body>
</html>
