---
import "@/styles/global.css";

import SiteHeader from "@/components/SiteHeader.astro";
import SiteFooter from "@/components/SiteFooter.astro";
import Hero from "@/components/Hero.astro";

const { title = null } = Astro.props;
const isHome = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
        <title>{title ? `${title} | Eric Ordoñez` : "Eric Ordoñez"}</title>
    </head>
    <body>
        <SiteHeader />
        {isHome && <Hero />}
        <main class="container">
            <slot />
        </main >
        <SiteFooter />
    </body>
</html>
